<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Get to know our digital team:</h1>
    <p class="text-center">We are a humble Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

  <div class="col-md-8 col-md-offset-2 profiles ">
  <%= image_tag "profile_01.jpg", class: "img-circle", width: "200", height: "200" %>
  <%= image_tag "profile_02.jpg", class: "img-circle", width: "200", height: "200" %>
  <%= image_tag "profile_03.jpg", class: "img-circle", width: "200", height: "200" %>
  </div>
</div>